{% extends 'communication/base.html' %}
{% block content%}
{% load filters %}
<strong>Model name </strong>  : {{name}}
{% if description != '' %}
<strong>  description of model: </strong> {{description}}<br>
{% endif %}
<br>
Input values :
<table class="table table-sm">
    <thead>
    <tr>
        <td scope="col">ID</td>
        <td scope="col">Name of input variable</td>
        <td scope="col">Typeof input variable</td>
    </tr>
    </thead>
    <tbody>
    {%for field in fields%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{field.1}}</td>
        <td>{{field.0}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
Number of input rows: {{rows}}
Output field : {{output_field}}<br>
Output summary :
<table class="table table-sm">
    <thead>
    <tr>
        <td scope="col">ID</td>
        <td scope="col">Value of output</td>
        <td scope="col">Count</td>
    </tr>
    </thead>
    <tbody>
    {%for output in output_summary %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{output.0}}</td>
        <td>{{output.1}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'open dataset' dataset_id|delete %}">Open dataset </a>

{% endblock%}
